<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>EEEE, MMMM d, yyyy</string>
	<string>d MMM, yyyy</string>
	<string>MMMM d, h:mm a</string>
	<string>HH:mm:ss.sss</string>
	<string>E, dd/MM/yy</string>
	<string>yyyy-MM-dd’T’HH:mm:ssZ</string>
	<string>h:mm a</string>
</array>
</plist>
